[Unit]
Description=DNS/DHCP server (SoftAP mode)
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dnsmasq -k --conf-dir=/etc/dnsmasq.d
